@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css");

#table-header {

    background-color: #009a76 !important;
    color: white;
    border-radius: 6px !important;
}
.btn-blue {
    background-color: #00b4e8 !important;
    color: white !important;
    
}
/* body {
    background-image: url('img/bg3.png');
    background: linear-gradient(rgba(0, 0, 0, 0.60), rgba(0, 0, 0, 0.60)), url(img/bg3.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 605px;
} */
            